.slidecontainer {
	margin: 35px;
	width: 10%;
	font-family: Arial, Helvetica, sans-serif;
}
.slider {
	-webkit-appearance: none;
	background: #f9b3ff;

	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}
.slider:hover {
	opacity: 1;
}

.resetButton {
	margin: 35px;
}
.smudgeButton {
	margin: 35px;
}
#label {
	color: grey;
}

body {
	background-color: lightblue;
}
