doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title METAMORPHOSIS
body
  h1#title
  .slidecontainer
    label#changeID Number of changes
    input#change.slider(type='range', min='0', max='250', value='0', name='change')
    div
      span#cVal
  .slidecontainer
    label#sizeID Size of each change
    input#size.slider(type='range', min='0', max='15000', value='0', name='size')
    div
      span#sVal
  .resetButton
    button#reset stopReset
  .smudgeButton
    button#smudge smudgeOn
  script
    include script.js
  style
    include style.css

