extends index.pug
block content
	h1#title
	.slidecontainer
		label#changeID Number of changes
		div
			input#change.slider(type='range', min='0', max='250', value='0', name='change')
		div
		span#cVal=0
	div
	.slidecontainer
		label#sizeID Size of each change
		div
			input#size.slider(type='range', min='0', max='15000', value='0', name='size')
		div
			span#sVal=0
	.slidecontainer
		.resetButton
			button#reset stopReset
		.smudgeButton
			button#smudge smudgeOn
		form(role='form' method='GET' action='/logout')
		.logoutButton
				button#logout(type='submit') get out


block script
	script(src='script/script.js')
	script.
		const io = new WebSocket("ws://#{serverip}:80");
		console.log(io);
	link(rel='stylesheet', href='style/style.css')
	// script
	// 	include script.js
	// style
	// 	include style.css

